.header {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 300;
  margin-bottom: 0.5rem;
  font-size: calc(1.35rem + 1.2vw);
  padding-left: 12px;
}
.muted {
  color: rgb(108, 117, 125);
}
.card {
  position: relative;
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  height: 100%;
  border-radius: 1rem;
  background-color: white; 
  overflow: hidden;
}
.card-status {
  position: absolute;
  top: -1px;
  right: -1px;
  left: -1px;
  height: 8px;
  background: rgba(0, 40, 100, 0.12);
  background-color:  #4650dd;
  border-radius: calc(1rem - 1px) calc(1rem - 1px) 0 0;
}
.card-heading {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #4650dd;
  font-weight: 700;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
.price {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
  font-size: calc(1.35rem + 1.2vw);
  color: #343a40;
}
.btn-select {
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 1px;
  --bs-btn-border-radius: 0.25rem;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: 0;
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem
    rgba(var(--bs-btn-focus-shadow-rgb), 0.5);
  display: inline-block;
  padding: 0.375rem 0.75rem;
  font-family: var(--bs-btn-font-family);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4650dd;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid #4650dd;
  border-radius: 0.25rem;
  background-color: var(--bs-btn-bg);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-select:hover {
  color: white;
  background-color: #4650dd;
}
.plan {
  width: 100%;
  margin-bottom: 45px;
}

@media only screen and (min-width: 1000px) {
  .plan {
    width: 32%;
    margin-bottom: auto;
  }
}
