.edit-card {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

  border-radius: 1rem;
  overflow: hidden;
}
.edit-card-body {
  padding: 2rem;
  overflow: auto;
  background-color: white;
  border-radius: 0.25rem;
}
.media-btn {
  color: #64AB45;
  border: 1px solid #64AB45;
}
.media-btn:hover {
  background-color: #64AB45;
  color: white;
}
