@media only screen and (min-width: 576px) {

    .mobile-img{
        display: none;
    }
}


.profile-img{
    margin-left: -10px;
    transition: 0.3s ;
    cursor: pointer;
}

.profile-img:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);  
}